html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /*padding: 1vw;*/

    /* fallback/image non-cover color */
    background-color: #225566;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#225566, #447788);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#225566), to(#447788));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#225566, #447788);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#225566, #447788);
}

#game {
    width: 100%;
    height: 100%;
    /* Allow <svg> to be 100% height */
    font-size: 0;
}
#game > svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
#game > canvas {
    position: fixed;
    z-index: 4;
    cursor: pointer;
}
#animation-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    z-index: 10;
}
#animation-controls button {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
#animation-controls .backward {
    opacity: 0.5;
}
.animation-control {
    fill: #111;
    stroke: none;
}

#level-header {
    position: fixed;
    top: 5px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

#level-footer {
    position: fixed;
    bottom: 16px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

.level-text {
    display: inline-block;
    padding: 6px;
    font: 16px sans-serif;
    background: #000;
    color: #fff;
    border-radius: 4px;
    cursor: default;
    opacity: 0.8;
}


#select-level {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 40px;
    z-index: 10;
}

#clip-board {
    position: fixed;
    bottom: 140px;
    right: 20px;
    width: 80px;
    height: 40px;
    z-index: 10;
}

#helper {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 200px;
    z-index: 10;
    background: #fff;
    color: #000;
    border: solid 1px #aaa;
    border-radius: 2px;
    z-index: 20;
    padding: 5px;
}

#element-name {
  font-size: 16px;
}

#element-summary {
  font-size: 12px;
}

#element-flavour {
  font-size: 12px;
  font-style: italic;
}

.label-in, .label-out {
    font-size: 12px;
}

.matrix-element:hover {
    stroke: #000;
    stroke-width: 2px;
}

div.tooltip {
    position: fixed;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 30;
}

.item-selector
{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    padding: 12px;
    background: #000;
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 4px;
    z-index: 20;
    opacity: 0.8;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
    cursor: pointer;
}

li:before {
    content: "\269B";
    padding-right: 5px;
}

li:hover
{
    color: #fff;
}

.stock-bg {
    fill: rgba(255, 255, 255, 0.9);
    stroke: rgb(240, 240, 240);
    stroke-width: 5px;
}

.stock .tile text {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    fill: #333;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
}
.stock .tile.stock--available {
    opacity: 1;
}
.stock .tile.stock--depleted {
    opacity: 0.5;
}
