html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    /*padding: 1vw;*/

    /* fallback/image non-cover color */
    background-color: #225566;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#225566, #447788);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#225566), to(#447788));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#225566, #447788);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#225566, #447788);
}

.svg-defs {
  /* Can't do display: none; http://stackoverflow.com/questions/25799770 */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 10vh;
    color: white;
    position: relative;
    box-shadow: rgba(255, 241, 70, 0.25) 0 0 5px;
}

.top-bar__title {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
    height: 5vh;
    text-align: center;
    font-size: 3.5vh;
    line-height: 6vh;
    vertical-align: middle;
    font-family: "Roboto";
    color: white;
    overflow: hidden;
}

.top-bar__subtitle {
    position: absolute;
    top: 5vh;
    left: 15vw;
    width: 70vw;
    height: 4vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 4vh;
    vertical-align: middle;
    font-family: "Roboto Condensed";
    color: white;
    overflow: hidden;
}

.top-bar__subtitle__slider {
  position: relative;
  top: 0;
  -webkit-transition: top 300ms linear;
  transition: top 300ms linear;
}

.top-bar__subtitle__description {
  height: 4vh;
  overflow: hidden;
}

.top-bar__subtitle--message > .top-bar__subtitle__slider {
  top: -4vh;
}

.top-bar__subtitle__message--success {
  color: lime;
}

.top-bar__subtitle__message--failure {
  color: red;
}

.top-bar__subtitle__message--progress {
  color: yellow;
}


.top-bar__menu-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vh;
    height: 10vh;
}
.top-bar__menu-button > svg {
    width: 100%;
    height: 100%;
}

.top-bar__detection {
  position: absolute;
  top: 0;
  right: 2vh;
  width: 14vh;
  height: 10vh;
  font-size: 0;
  background: none;
}

.top-bar__detection--success > .top-bar__detection__caption,
.top-bar__detection--success > .top-bar__detection__value {
  color: lime;
  text-shadow: rgba(0, 255, 0, 0.7) 0 0 5px;
}

.top-bar__detection__caption {
    width: 14vh;
    height: 4vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 5vh;
    vertical-align: middle;
    font-family: "Roboto Condensed";
    color: white;
    overflow: hidden;
}

.top-bar__detection__value {
    width: 14vh;
    height: 6vh;
    text-align: center;
    font-size: 4vh;
    line-height: 5vh;
    vertical-align: middle;
    font-family: "Roboto";
    font-weight: bold;
    color: orange;
    text-shadow: rgba(255, 0, 0, 0.7) 0 0 5px;
}

.bottom-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 8vh;
    color: white;
    position: relative;
    box-shadow: rgba(255, 241, 70, 0.25) 0 0 5px;
    text-align: center;
}

.bottom-bar__text-button {
  padding: 0 1vh !important;
  border: 1px solid lime !important;
  height: 6vh;
  font-size: 2vh;
  color: white;
}

.bottom-bar__animation-controls {
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90vw;
    height: 6vh;
    padding: 1vh 0;
    text-align: center;
}

.bottom-bar__animation-button {
    padding: 0 1vh !important;
    height: 6vh;
}

.bottom-bar__animation-button > svg {
    width: auto;
    height: 4vh;
}

.bottom-bar__animation-button > svg text {
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto;
  font-weight: bold;
  text-anchor: middle;
  fill: white;
}

.interface-button,
.interface-button-nohover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.interface-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* SVG element classes */

.svg-interface-button {
    fill: white;
    stroke: none;
}

.view--hidden {
  display: none !important;
}

.view--inline {
  display: inline;
}

/* Level selector */

.view--level-selector {
  font-size: 12px;
}

.level-selector {
  padding: 10px;
  height: 90vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.level-selector > ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  color: #ddd;
}

.level-selector > ul > li {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
  font-size: 3vh;
  padding-top: 10px;
  cursor: pointer;
}

.level-selector > ul > li:before {
  content: "\269B";
  padding-right: 5px;
}

.level-selector > ul > li:hover {
  color: #fff;
}

/* Encyclopedia selector */

.encyclopedia-selector {
  height: 82%;
  overflow-y: auto;
}

.encyclopedia-selector > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ddd;
}

.encyclopedia-selector > ul > li {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 1vh;
  overflow: hidden;
}

.encyclopedia-selector > ul > li button {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.encyclopedia-selector > ul > li svg {
  width: 6vh;
  height: 6vh;
  background: white;
  border: 2px solid #ddd;
  margin-right: 2vw;
  float: left;
}

.encyclopedia-selector > ul > li h4 {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 2.5vh;
  line-height: 2.5vh;
  overflow: hidden;
  height: 8vh;
  margin: 0;
  font-weight: bold;
}

/* Encyclopedia item */

.encyclopedia-item {
  height: 82%;
}

.encyclopedia-item__container {
  width: 100vh;
  max-width: 100vw;
  height: 100%;
  box-sizing: border-box;
  font-size: 2.5vh;
  margin: 0 auto;
  position: relative;
}

.encyclopedia-item__container > article {
  height: 100%;
  overflow-y: auto;
  padding: 3vh;
  margin-left: 30%;
  box-sizing: border-box;
  text-align: center;
  background: white;
}
.encyclopedia-item__container > ul {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.encyclopedia-item__container > ul li {
  list-style: none;
}
.encyclopedia-item__container > ul li button {
  background: none;
  border: none;
  padding: 2vh 1vh;
  width: 100%;
}

.encyclopedia-item__container > article svg.big-tile {
  width: 30vh;
}

.encyclopedia-item__hint {
  font-size: 0.8em;
  color: #333;

}
.encyclopedia-item__container svg.transition-heatmap {
  width: 70%;
  height: 70%;
}

/* Game */

#game {
    width: 100%;
    height: 82%;
    /* Allow <svg> to be 100% height */
    font-size: 0;
}
#game > svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
#game > canvas {
    position: fixed;
    z-index: 4;
    cursor: pointer;
}
#game > canvas.canvas--helper,
#game > canvas.canvas--hidden {
  z-index: -1;
  visibility: hidden;
}
#animation-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    z-index: 10;
}
#animation-controls button {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.animation-control {
    fill: #111;
    stroke: none;
}

#level-header {
    position: fixed;
    top: 5px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

#level-footer {
    position: fixed;
    bottom: 16px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

#element-name {
  font-size: 16px;
}

#element-summary {
  font-size: 12px;
}

#element-flavour {
  font-size: 12px;
  font-style: italic;
}

.label-in, .label-out {
    font-size: 12px;
}

.matrix-element:hover {
    stroke: #000;
    stroke-width: 2px;
}

div.tooltip {
    position: fixed;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 30;
}

.shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.stock .tile text {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    fill: #333;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
}
.stock .tile.stock--available {
    opacity: 1;
}
.stock .tile.stock--depleted {
    opacity: 0.5;
}

.pearl {
  fill: red;
  stroke: brown;
  stroke-width: 4px;
  cursor: pointer;
}
.pearl:not(.pearl--current):hover {
  stroke: black;
}
.pearl--passed {
  fill: lime;
  stroke: green;
}
.pearl--current {
  stroke: red;
  fill-opacity: 0;
}
.pearl--current.pearl--passed {
  stroke: lime;
}
.pearl--current:hover {
  fill-opacity: 0.5;
}

.helper-hitbox {
  fill: lightgreen;
  cursor: pointer;
  opacity: 0;
}

.helper-hitbox:hover {
  opacity: 0.2;
}

text.helper-name {
  text-anchor: middle;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Roboto Condensed";
  stroke: #222;
}

text.helper-summary {
  font-size: 24px;
  font-family: "Roboto Condensed";
  stroke: #222;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  display: none;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.popup--shown {
  display: table !important;
}

.popup-container {
  display: table-cell;
  vertical-align: middle;
}

.popup-window {
  position: relative;
  z-index: 10;
  width: 50%;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 10px black;
  padding: 2vh;
  font-size: 3vh;
  font-family: "Roboto Condensed";
}

.popup-buttons {
  text-align: right;
}
.popup-buttons > button {
  background-color: #008FAF;
  border: none;
  padding: 1vh 3vh;
  font-size: 2vh;
  color: white;
}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
