html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    /*padding: 1vw;*/

    /* fallback/image non-cover color */
    background-color: #225566;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#225566, #447788);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#225566), to(#447788));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#225566, #447788);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#225566, #447788);
}

/* TODO(pathes): make style for those elements */
#helper {
    display: none !important;
}

.top-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 10vh;
    color: white;
    position: relative;
    box-shadow: rgba(255, 241, 70, 0.25) 0 0 5px;
}

.top-bar__title {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
    height: 5vh;
    text-align: center;
    font-size: 3.5vh;
    line-height: 6vh;
    vertical-align: middle;
    font-family: "Roboto";
    color: white;
    overflow: hidden;
}

.top-bar__subtitle {
    position: absolute;
    top: 5vh;
    left: 15vw;
    width: 70vw;
    height: 4vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 4vh;
    vertical-align: middle;
    font-family: "Roboto Condensed";
    color: white;
    overflow: hidden;
}

.top-bar__subtitle__slider {
  position: relative;
  top: 0;
  -webkit-transition: top 300ms linear;
  transition: top 300ms linear;
}

.top-bar__subtitle__description {
  height: 4vh;
  overflow: hidden;
}

.top-bar__subtitle--message > .top-bar__subtitle__slider {
  top: -4vh;
}

.top-bar__subtitle__message--success {
  color: lime;
}

.top-bar__subtitle__message--failure {
  color: red;
}

.top-bar__subtitle__message--progress {
  color: yellow;
}


.top-bar__menu-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vh;
    height: 10vh;
}
.top-bar__menu-button > svg {
    width: 100%;
    height: 100%;
}

.top-bar__detection {
  position: absolute;
  top: 0;
  right: 2vh;
  width: 14vh;
  height: 10vh;
  font-size: 0;
  background: none;
}

.top-bar__detection--success > .top-bar__detection__caption,
.top-bar__detection--success > .top-bar__detection__value {
  color: lime;
  text-shadow: rgba(0, 255, 0, 0.7) 0 0 5px;
}

.top-bar__detection__caption {
    width: 14vh;
    height: 4vh;
    text-align: center;
    font-size: 2.5vh;
    line-height: 5vh;
    vertical-align: middle;
    font-family: "Roboto Condensed";
    color: white;
    overflow: hidden;
}

.top-bar__detection__value {
    width: 14vh;
    height: 6vh;
    text-align: center;
    font-size: 4vh;
    line-height: 5vh;
    vertical-align: middle;
    font-family: "Roboto";
    font-weight: bold;
    color: orange;
    text-shadow: rgba(255, 0, 0, 0.7) 0 0 5px;
}

.bottom-bar {
    background-color: rgba(0, 0, 0, 0.6);
    height: 8vh;
    color: white;
    position: relative;
    box-shadow: rgba(255, 241, 70, 0.25) 0 0 5px;
}

.bottom-bar__animation-controls {
    position: absolute;
    top: 0;
    left: 15vw;
    width: 70vw;
    height: 6vh;
    padding: 1vh 0;
    text-align: center;
}

.bottom-bar__animation-button {
    padding: 0 1vh !important;
    height: 6vh;
}

.bottom-bar__animation-button > svg {
    width: auto;
    height: 4vh;
}

.interface-button,
.interface-button-nohover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.interface-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* SVG element classes */

.svg-interface-button {
    fill: white;
    stroke: none;
}

.view--hidden {
  display: none !important;
}

.view--inline {
  display: inline;
}

/* Level selector */

.view--level-selector {
  font-size: 12px;
}

.level-selector {
  padding: 10px;
  height: 90vh;
  box-sizing: border-box;
  overflow-y: scroll;
}

.level-selector > ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  color: #ddd;
}

.level-selector > ul > li {
  padding-left: 1em;
  text-indent: -1em;
  list-style: none;
  font-size: 3vh;
  padding-top: 10px;
  cursor: pointer;
}

.level-selector > ul > li:before {
  content: "\269B";
  padding-right: 5px;
}

.level-selector > ul > li:hover {
  color: #fff;
}

/* Game */

#game {
    width: 100%;
    height: 82%;
    /* Allow <svg> to be 100% height */
    font-size: 0;
}
#game > svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
#game > canvas {
    position: fixed;
    z-index: 4;
    cursor: pointer;
}
#animation-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    z-index: 10;
}
#animation-controls button {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
#animation-controls .backward {
    opacity: 0.5;
}
.animation-control {
    fill: #111;
    stroke: none;
}

#level-header {
    position: fixed;
    top: 5px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

#level-footer {
    position: fixed;
    bottom: 16px;
    width: 100%;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    z-index: 5;
}

#helper {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 300px;
    z-index: 4;
    background: #fff;
    color: #000;
    border: solid 1px #aaa;
    border-radius: 2px;
    z-index: 20;
    padding: 5px;
}

#element-name {
  font-size: 16px;
}

#element-summary {
  font-size: 12px;
}

#element-flavour {
  font-size: 12px;
  font-style: italic;
}

.label-in, .label-out {
    font-size: 12px;
}

.matrix-element:hover {
    stroke: #000;
    stroke-width: 2px;
}

div.tooltip {
    position: fixed;
    text-align: left;
    padding: 8px;
    font: 12px sans-serif;
    background: #000;
    color: #ddd;
    border: solid 1px #aaa;
    border-radius: 4px;
    pointer-events: none;
    z-index: 30;
}

.shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.stock-bg {
    fill: rgba(255, 255, 255, 0.9);
    stroke: rgb(240, 240, 240);
    stroke-width: 5px;
}

.stock .tile text {
    font-family: monospace;
    font-size: 24px;
    font-weight: bold;
    fill: #333;
   -moz-user-select: -moz-none;
   -webkit-user-select: none;
}
.stock .tile.stock--available {
    opacity: 1;
}
.stock .tile.stock--depleted {
    opacity: 0.5;
}
