html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 1vw;

    /* fallback/image non-cover color */
    background-color: #225566;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#225566, #447788);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#225566), to(#447788));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#225566, #447788);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#225566, #447788);
}

#game {
    width: 100%;
    height: 100%;
    /* Allow <svg> to be 100% height */
    font-size: 0;
}
#game > svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
#game > canvas {
    position: fixed;
    z-index: 4;
    cursor: pointer;
}
#play {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

#select-level {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 40px;
    z-index: 10;
}

#level-selector
{
    position: fixed;
    bottom: 200px;
    right: 200px;
    padding: 12px;
    width: 300px;
    background: #000;
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 4px;
    z-index: 20;
    opacity: 0.8;
}

li.level-item:before {
    content: "\269B";
    margin: 0 1em;
}

li.level-item
{
    list-style: none;
    font-size: 20px;
}
