html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /*padding: 1vw;*/

    /* fallback/image non-cover color */
    background-color: #225566;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(#225566, #447788);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#225566), to(#447788));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(#225566, #447788);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(#225566, #447788);
}

#game {
    width: 100%;
    height: 100%;
    /* Allow <svg> to be 100% height */
    font-size: 0;
}
#game > svg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
#game > canvas {
    position: fixed;
    z-index: 4;
    cursor: pointer;
}
#play {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 10;
}

#select-level {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 80px;
    height: 40px;
    z-index: 10;
}

#clip-board {
    position: fixed;
    bottom: 140px;
    right: 20px;
    width: 80px;
    height: 40px;
    z-index: 10;
}

#helper {
    transform: scale3d(0.3, 0.3, 1.0);
    transform-origin: right top;
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 10;
    background: #fff;
    color: #000;
    border: solid 1px #aaa;
    border-radius: 4px;
    z-index: 20;
    padding: 5px;
}

.katex-helper {
  font-size: 10px;
}

#helper:hover {
    transform: none;
}

.item-selector
{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 70%;
    padding: 12px;
    background: #000;
    color: #aaa;
    border: solid 1px #aaa;
    border-radius: 4px;
    z-index: 20;
    opacity: 0.8;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding-left: 1em;
    text-indent: -1em;
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
    cursor: pointer;
}

li:before {
    content: "\269B";
    padding-right: 5px;
}

li:hover
{
    color: #fff;
}
