g.background rect.tile {
  fill: #fff;
  stroke-width: 2;
  stroke: #aaa;
}
g.background rect.tile--frozen {
  fill: #eee;
}

rect.hitbox {
  fill: lightgreen;
  cursor: pointer;
}
use.hitbox {
  opacity: 0;
}
use.hitbox:hover {
  opacity: 0.2;
}

.photon {
  fill: coral;
}

.beam {
  stroke: red;
  stroke-width: 2;
}

.element {
  cursor: default;
}

.glass {
  fill: steelblue;
  fill-opacity: 0.5;
}
.glass-edge {
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 2;
}

.metal {
  fill: #555;
  stroke-width: 1;
  stroke: #999;
}
