g.background rect.tile {
  fill: #fff;
  stroke-width: 2;
  stroke: #aaa;
}
g.background rect.tile--frozen {
  fill: #eee;
}

rect.hitbox {
  fill: lightgreen;
  cursor: pointer;
}
use.hitbox {
  opacity: 0;
}
use.hitbox:hover {
  opacity: 0.2;
}

.particle {
  fill: coral;
}

.beam {
  stroke: red;
  stroke-width: 2;
}

.element {
  cursor: default;
}

.glass {
  fill: steelblue;
  fill-opacity: 0.5;
}
.glass-edge {
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 2;
}

.metal {
  fill: #555;
  stroke-width: 1;
  stroke: #999;
}

.polarizer {
  fill: url(/#polarizing-stripes);
  stroke: #555;
  stroke-width: 1;
}

.phase-plate {
  fill: url(/#phase-stripes);
}

.absorber {
  fill: black;
  fill-opacity: 0.4;
  stroke: #555;
  stroke-width: 1;
}

.wire {
  stroke: #6b00ff;
  stroke-width: 3;
}

.wire-back {
  opacity: 0.5;
  stroke-width: 4;
}

.measurement-text {
  text-anchor: middle;
}
