g.background rect.tile {
  fill: #fff;
  stroke-width: 2;
  stroke: #aaa;
}

rect.frost-nonfrozen {
  opacity: 0;
}

rect.frost-frozen {
  fill: #aaa;
  opacity: 0.3;
}

rect.hitbox {
  fill: lightgreen;
  cursor: pointer;
}

use.hitbox {
  opacity: 0;
}

use.hitbox:hover {
  opacity: 0.2;
}

path.triangular {
  fill: #aaa;
  stroke: none;
  opacity: 0;
}

path.triangular:hover {
  opacity: 1;
}

.particle {
  fill: red;
}

.beam {
  stroke: red;
  stroke-width: 1.5px;
}

.absorption-text {
  font-size: 40px;
  text-anchor: middle;
  text-shadow: 2px 2px 2px white;
}

.element {
  cursor: default;
}

.glass {
  fill: steelblue;
  fill-opacity: 0.5;
}
.glass-edge {
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 2;
}

.metal {
  fill: #222;
}

.metal-edge {
  stroke: #666;
  stroke-width: 2px;
}

.silver {
  fill: lightgrey;
}

.dark-silver {
  fill: #aaa;
}

.absorber {
  fill: black;
  fill-opacity: 0.4;
  stroke: #555;
  stroke-width: 1;
}

.wire {
  fill: none;
  stroke: #6b00ff;
  stroke-width: 3px;
}

.metal-case {
  fill: none;
  stroke: #222;
  stroke-width: 8px;
}

.metal-case-hot {
  fill: none;
  stroke: red;
  stroke-width: 8px;
}

.wire-back {
  opacity: 0.5;
  stroke-width: 4;
}

.eye {
  stroke: #222;
  stroke-width: 3px;
  fill: white;
}

.eye-iris {
  stroke: none;
  fill: #222;
}

.lemon {
  fill: #ffff00;
  stroke: #ffa900;
  stroke-width: 3px;
}

.measurement-text {
  text-anchor: middle;
}
