g.background rect.tile {
  fill: #fff;
  stroke-width: 2;
  stroke: #aaa;
}

rect.frost-nonfrozen {
  opacity: 0;
}

rect.frost-frozen {
  fill: #aaa;
  opacity: 0.3;
}

rect.hitbox {
  fill: lightgreen;
  cursor: pointer;
}

use.hitbox {
  opacity: 0;
}

use.hitbox:hover {
  opacity: 0.2;
}

path.triangular {
  fill: #aaa;
  stroke: none;
  opacity: 0;
}

path.triangular:hover {
  opacity: 1;
}

.particle {
  fill: coral;
}

.beam {
  stroke: red;
  stroke-width: 2;
}

.absorption-text {
  font-size: 40px;
  text-anchor: middle;
  text-shadow: 2px 2px 2px white;
}

.element {
  cursor: default;
}

.glass {
  fill: steelblue;
  fill-opacity: 0.5;
}
.glass-edge {
  stroke: steelblue;
  stroke-opacity: 1;
  stroke-width: 2;
}

.metal {
  fill: #555;
  stroke-width: 1;
  stroke: #999;
}

.polarizer {
  stroke: #555;
  stroke-width: 1;
}

.phase-plate {
}

.absorber {
  fill: black;
  fill-opacity: 0.4;
  stroke: #555;
  stroke-width: 1;
}

.wire {
  stroke: #6b00ff;
  stroke-width: 3;
}

.wire-back {
  opacity: 0.5;
  stroke-width: 4;
}

.measurement-text {
  text-anchor: middle;
}
