{
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "no-var": 2,
    "quotes": [1, "single"],
    "key-spacing": 0,
    "no-alert": 0,
    "no-undef": 2
  },
  "env": {
    "browser": true
  }
}
