.tile {
	fill: #ccc;
	stroke-width: 1;
	stroke: #aaa;
}

.photon {
	fill: coral;
}

.element {
	cursor: default;
}

.glass {
	fill: blue;
	stroke-width: 1;
	stroke: steelblue;
	opacity: 0.5;
}

.metal {
	fill: #555;
	stroke-width: 1;
	stroke: #999;
}